.CurrentSeasonMain{
border-bottom: 1px solid rgba(0, 0, 0, 0.171);
width: 1070px;
}

.CurrentSeason{
    display: flex;
    background:#fff ;
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 1070px;
    border-radius: 10px;
}

.CurrentSeason-text{
padding: 48px;
}