.CredistDetail {
  margin-top: 330px;
  margin-left: 30px;
  width: 1067px;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);

  .main {
    display: flex;
    overflow-y: hidden;
    box-shadow: 2px red;

    .item {
      margin: 20px 10px;
      border: 1px solid rgba(0, 0, 0, 0.096);
      border-radius: 10px;

      img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

      }
      .tex {
        padding: 15px 10px;
      }
    }
  }

  h2 {
    padding: 20px 0px;
  }


}