.wrapper{
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .nav {
        display: flex;
        align-items: center;
        padding-left: 40px;
        .link__logo {
            display: block;
            margin-right: 16px;
            width: 154px;
            height: 20px;
            .logo {
                display: block;
                width: 100%;
            }
        }
        .nav__list {
            padding: 0;
            background: transparent;
            list-style: none;
            display: flex;
            align-items: center;
        }
        .nav__item {
            margin-right: 14px;
            position: relative;
            cursor: pointer;
            &--title {
                color: var(--white);
                padding: 8px;
                font-weight: 700;
                font-size: 1em;
            }
            &:hover .item__menu {
                display: block;
            }

            .item__menu {
                display: none;
            }
        }
    }
    .wrapper_search{
        width: 100%;
    }
    .manipulation {
        display: flex;
        align-items: center;
        color: var(--white);
        font-size: 1em;
        font-weight: 700;
        padding-right: 40px;

        .icon__plus,
        .change__languages,
        .login,
        .register {
            padding: 8px;
            margin-right: 14px;
            cursor: pointer;
        }

        .icon__plus {
            font-size: 20px;
            position: relative;
        }
        .icon__search {
            cursor: pointer;
            color: rgb(1, 180, 228);
            font-size: 20px;
            width: 29px;
            height: 29px;
        }
        .change__languages {
            border: 1px solid #fff;
            border-radius: 4px;
            width: 28px;
            height: 28px;
            font-size: 0.8em;
            text-align: center;
            position: relative;
            &:hover {
                background-color: var(--white);
                color: var(--font-color);
            }
            .text {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-hight);
    width: 100%;
    z-index: 10;
    transition: top 0.2s linear;
    background-color: var(--color-primary-dark);
}
.header-space{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.list-search{
    position: absolute;
    top:var(--header-hight);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    .search-listitem{
        width: 100%;
        top:var(--header-search-item );
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        .header__search{
            align-self: flex-start;
            width: 100%;
            padding:0 40px;
            max-width: 1300px;

        }
        .search__item-header,
        .search-item{
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgba(var(--lightGrey), 1);
            width: 100%;
            overflow: hidden;

        }
        .search__item-header{
            background-color: rgba(var(--lightGrey), 0.3);
        }
    }
}
.search{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(var(--lightGrey), 1);
}
.search-block{
    width: 1300px;
}
